In [1]:
import pandas as pd
from attr_adder import CombinedAttributesAdder
from deployment import predictor
testet = predictor('./data/testing_data.csv')

In [3]:
testet.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,predictions
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY,429786.666667
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY,371786.666667
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY,369120.000000
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,329076.666667
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY,304873.333333

In [6]:
from deployment import prediction_file
prediction_file('./data/testing_data.csv', './data/predictions.csv')